{% extends "layout.html" %}

{% block text %}
	{% if notes == None -%}
		<strong>No notes found for this criteria.</strong>
	{%- else %}
		{% for day in notes -%}
			<h3>{{ day[0].date }}</h3>
			<ul>
				{% for note in day -%}
					<li>{{ note.text|safe }}<br/>
						<strong>Tags:</strong>
						{% if note.tags != None -%}
							{% for tag in note.tags[:-1] -%}
								<a href="/tag/{{ tag|lower|urlencode }}">{{ tag }}</a>,&nbsp;
							{%- endfor -%}
							<a href="/tag/{{ note.tags[-1]|lower|urlencode }}">{{ note.tags[-1] }}</a>
						{%- else -%}
							No tags for this post.
						{%- endif %}
						{% if 'loggedin' in session -%}
							| <strong>Admin options:</strong> <a href="/note/{{ note['noteid'] }}/delete">Delete</a>,
							<a href="/note/{{ note['noteid'] }}/edit">Edit</a>
						{%- endif %}
						| <a href="/note/{{ note['noteid'] }}">Permalink</a>
					</li>
				{%- endfor %}
			</ul>
		{%- endfor %}
	{% endif %}
{% endblock %}
